<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class="navbar-nav mr-auto"> 
   <li class="nav-item" routerLinkActive= "active">
    <a class="nav-link" routerLink = "/home">Home</a>
  </li>
  <li class="nav-item" routerLinkActive= "active">
    <a class="nav-link" routerLink = "/users">Users</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" >Link</a>
  </li> -->
</ul>
 <ul class="navbar-nav ml-auto"> 
   <li class="nav-item" routerLinkActive= "active">
    <a class="nav-link" (click) = "onSignOut()">Signout</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li> -->
</ul>
</nav>