<!-- Navbar block start -->
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
<ul class="navbar-nav mr-auto"> 
   <li class="nav-item" routerLinkActive= "active">
    <a class="nav-link" routerLink = "/home">Home</a>
  </li>
  <li class="nav-item" routerLinkActive= "active">
    <a class="nav-link" routerLink = "/users">Users</a>
  </li>
</ul>
<ul class="navbar-nav ml-auto"> 
 <li class="nav-item" *ngIf="showSignout" routerLinkActive= "active">
  <a class="nav-link" (click) = "onSignOut()">Signout</a>
</li>
</ul>
</nav>
<!-- Navbar block end -->