<!-- Add Edit User Modal																																														 -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">User Detail</h4>
				<button type="button" class="close" (click)="onCancle()">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<p> First Name : {{user?.firstName}} </p>
				<p> Last Name : {{user?.lastName}} </p>
				<p> Email : {{user?.email}} </p>
				<p> Interests : </p>
				<div *ngFor="let interest of user?.interests">
					<p>	{{interest}}</p>
				</div>

			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" (click)="onCancle()">Close</button>
			</div>

		</div>
	</div>
</div>